html,body{
  height: 100%;
  min-height: 100%;
  padding:0;margin: 0;
}
#everything{
  min-height: 100%;
}
#header{
  height: 2em;background: #EEEEEE;
  height:5em;position:relative;padding-left:1em;
}

div{
  font-size: 12px;
  font-family: sans-serif;
}
h1{
  font-size: 150%;
}
h2{
  font-size: 130%;
}
h3{
  font-size: 110%;
}
h5{
  font-size: 100%;
  margin-top: .5em;
  margin-bottom: 0;
}
ul{
  margin-top: 0;
  margin-bottom: 0;padding-left: 2em;text-indent: -1em;
  list-style-type: none;
}
ul li{
  position: relative;
}
ul li:before{
  position: absolute;left: -.75em;top:-.15em;
  content: "-";
}
#top{
  text-align: center;
  margin-bottom: .5em;
}
#top>*{
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  min-width: 175px;
}
#top>div:first-child{
  text-align: left;
  color:#888888;
}
#top>div:last-child{
  text-align: right;
  color:#888888;
}
#top h1{
  margin-top: 0;
}
.rrow{
  margin: .5em;
  margin-top: 0;
  margin-bottom: 0;
}
.rrow:first-child{
  margin-top: 1em;
}
.rrow>div,.inrow>div{
  display: inline-block;
}
.rrow>div.stitle{
  min-width: 120px;
  width: 22.5%;vertical-align: top;
}
.stitle h2{
  margin-top: 0;
}
.rrow>div.sbody{
  width: 77.5%;
}
.rrow>div.stime{
  width: 15%;min-width: 70px;
  font-style: italic;
}
.inrow{
  margin-bottom: .75em;
}
.inrow .wleft{
  width: 80%;
}
.inrow .wbody{
  padding-left: 1em;
}
.inrow .wtime{
  width: 20%;
  text-align: right;
  vertical-align: top;
}
.inrow .wtitle{
  display: block;
}
.inrow .wtitle *{
  margin-top: 0;
  margin-bottom: .5em;
}
.indent{
  padding-left: 1em;
}

#everything{
}
h1{

}

#nametag{
  margin:0;top:50%;position:absolute;font-size:24px;margin-top:-12px;
}

#navbar{
  position:relative;
  background: rgb(2, 49, 0);
  text-align: center;
}
a.navlink{
  display: inline-block;
  height: auto;
  width: 20%;
  min-width: 100px;
  text-decoration: none;
  text-align: center;
}
a.navlink>div{
  color: white;
  font-size: 125%;
  padding: 1em;
}
a.navlink:hover>div{
  color: #AAAAAA;
}
a.navlink>div>div{
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;right: 0;
  height: 1em;
  margin-top: -.5em;
}

